.items-grid {
  column-gap: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1168px;
  max-height: 760px;
  row-gap: 10px;
  overflow: auto;
}

.item-wrapper {
  background-color: #eaeaea;
  border-radius: 5px;
  height: 200px;
  padding: 10px;
  width: 200px;
}